
  .appContainer {
    display: flex;
    justify-content: space-between;
    width: 70vw;
  }

  .center {
   display: flex;
   align-content: center;
   align-items: center;
   height: 100vw;
   flex-direction: column
  }

  .header {
    padding-left: 30px;
    padding-top: 110px;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 20px
  }


  .myName {
    color: black;
    /* #292a2b; */
    /* #092e96; */
    font-size: 7em;
    font-weight: 400;
    margin: 0
  }

  .regularText {
    color: #092e96;
    font-size: 15;
    font-weight: 100;
    font-family: Helvetica
  }

  .contentHeaders {
    color: white;
    font-size: 1.2em;
    margin: 0;
    position: absolute;
    z-index: 5
  }


  .contentDivs {
    flex: 1;
    margin: 40px;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: 600;
    overflow: hidden;
    border: 15px solid black;
    border-radius: 3px
  }

  .contentDivs:hover {
    border: 15px solid gray;
  }

  img {
    object-fit: cover;
    width: 200%
  }


  .signature {
    color: #092e96;
    font-size: 17
  }

  .about {
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin-left: 30px;
    margin-top: 50px
  }

  .aboutSection {
    margin-top: 20px;
    position: relative;
  }


