/*Resume*/

.resume {
  text-decoration: none;
  color: black
}


a:hover {
  transform: translateY(-5px);
  transition-timing-function: ease-in-out;
  transition-duration: .25s;
}

/* Nav */

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100vw;
  border-bottom: 1px solid black;
  margin: 0px
}

/* font-family: 'Roboto Slab', serif; */

.myName {
  color: #EF4907;
  font-size: 3.7em;
  font-weight: 300;
  margin: 20px 0 0 0;
  font-family: 'Roboto Slab', serif;
}

.navLinks {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  margin: 10px 0px;
  align-items: baseline
}

.navLinks a {
  text-decoration: none;
  margin: 0px;
  font-size: 1em;
  font-weight: 600;
  color: black;
}

.navLinks:active {
  color: #EF4907
}

.byLine {
  margin: 0;
  margin-top: 10px;
  font-size: 1.2em;
  font-family: 'Roboto Slab', serif;
  text-align: center
}

.social {
  font-size: .5em;
  width: 12vw;
  display: flex;
  justify-content: space-between
}


i {
  font-size: 2.5em;
  color: black;
  margin-top: 10px;
}




/* intro area */

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center

}

.intro-text {
  width: 350px;
  margin-top: 35px
}

.hello {
  font-weight: 600;
  font-family: 'Roboto Slab', serif;
}



/* Projects */

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;


}

.projects a {
  color: #EF4907;
  margin-bottom: 10px;
}

.projects span {
  width: 350px;
  margin: 10px 0
}

.displayBox {
  border-bottom: 1px solid black;
  text-align: center
}

.projectPhoto {
  width: 350px;
  border: 1px solid black;
}

.projectHeader {
  font-family: 'Roboto Slab', serif;
  font-size: 2.5em;
  margin: 30px

}












