


/* MyInfo container Contains large image and card */

.welcome {
  height: 100vh;
  width: 100vw;
  display: flex;
}


.card {
  width: 32vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 50px;
  padding-right: 60px;
}


i {
  font-size: 2.5em;
  color: black;
  margin-top: 10px;
  margin-right: 20px;
}


i:hover {
  transform: translateY(-5px);
  transition-timing-function: ease-in-out;
  transition-duration: .25s;
}


#email {
  opacity: 0;
}


.logosAndLinks {
  display: flex;
  justify-content: center;
  margin-top: 10px
}


.lorumIpsum {
  width: 66vw;
  overflow: visible;
}


.lorumIpsum img {
  width: 100vw
}


.myName {
    color: #EF4907;
    font-size: 4.2em;
    font-weight: 600;
    margin: 0;
    font-family: Helvetica;
  }


/* About */

#about {
    height: 80vh;
    width: 70vw;
    display: flex;
    margin-top: 150px;
    align-items: center;
    position: absolute;
    top: -75px
    /* align-self: flex-start; */
    /* margin-left: 200px */
}
.aboutText {
  max-width: 400px;
  min-width: 400px;
}

.questionMark {
  font-size: 1020px;
  margin: 0;

}

.circle {
  height: 47vw;
  width: 47vw;
  max-height: 650px;
  max-width: 650px;
  min-width: 650px;
  min-height: 650px;
  border-radius: 100%;
  background-color: #EF4907;
  opacity: .90;
  position: absolute;
  z-index: -1;
  left: 200px;

}


