
  a {
    text-decoration: none;
    color: black;
    font-size: 1.5;
    font-weight: 600

  }

  a:hover {
    color: red;
    transform: translateY(-5px);
    transition-timing-function: ease-in-out;
    /* transition-duration: .25s; */
  }

  .appContainer {
    display: flex;
    justify-content: space-between;
    width: 70vw;
  }

  .centerSplash {
   display: flex;
   /* flex-direction: column; */
   /* align-content: center;
   align-items: center; */
   height: 80vh;
   align-self: center

  }

  .header {
    padding-left: 30px;
    padding-top: 110px;
    padding-bottom: 10px;
    text-align: right;
    margin-bottom: 20px;
    align-self: flex-start;

  }


  .myName {
    color: #EF4907;
     /* #03265e; */
    /* #2d2d2b; */
    /* #292a2b; */
    /* #092e96; */
    font-size: 6em;
    font-weight: 400;
    margin: 0
  }

  .regularText {
    color: white;
    font-size: 15;
    font-family: Helvetica;
    line-height: 1.5;
    letter-spacing: 1px
  }

  .regularTextBlack {
    color:black;
    font-size: 18;
    font-family: Helvetica;
    line-height: 1.5;
    font-weight: 400;
    /* letter-spacing: 1px */
  }

  .contentHeaders {
    color: white;
    font-size: 1.2em;
    margin: 0;
    position: absolute;
    z-index: 5
  }

  .contentHeadersBlack {
    color: black;
    font-size: 1.2em;
    margin: 0;
    position: absolute;
    z-index: 5
  }

  .contentHeadersRed {
    color: red;
    font-size: 1.2em;
    margin: 0;
    position: absolute;
    z-index: 5
  }



  .contentDivs {
    flex: 1, 1, 300px;
    margin: 40px;
    max-height: 20vw;
    max-width: 20vw;
    min-height: 20vw;
    min-width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: 600;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 3px;
    background-color: gray
  }

  .contentDivs:nth-child(1) {
    background-image: url('./images/gray-smile.jpg');
    background-size: contain;
    background-repeat: no-repeat

  }

  .contentDivs:nth-child(1):hover {
    background-image: url('./images/lightsmile.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateY(-5px);
    transition-timing-function: ease-in-out;
    transition-duration: .25s;
  }

  .contentDivs:nth-child(2) {
    background-image: url('./images/gray-serious.jpg');
    background-size: contain;
    background-repeat: no-repeat
  }

  .contentDivs:nth-child(2):hover {
    background-image: url('./images/lightserious.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateY(-5px);
    transition-timing-function: ease-in-out;
    transition-duration: .25s;
  }

  .contentDivs:nth-child(3) {
    background-image: url('./images/gray-brow.jpg');
    background-size: contain;
    background-repeat: no-repeat
  }

  .contentDivs:nth-child(3):hover {
    background-image: url('./images/lightbrow.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateY(-5px);
    transition-timing-function: ease-in-out;
    transition-duration: .25s;
  }


  img {
    object-fit: cover;
    width: 200%
  }

  #about {
    background-color: #03265e;
     /* #E8F442; */
     /* #2d2d2b40; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    color: black;
    padding-bottom: 60px;
    /* border: 2px solid black; */
  }

  .aboutSection {
    width: 70vw;
    height: 60vh;
    align-self: center;
    padding: 50px;
    padding-top: 150px;

  }

  /* .aboutBackground {
    width: 90vw;
    height: 70vh;
    padding-left: 30px;
    padding-right: 30px;
    align-self: center;
    background-color: white
  } */

  #projects {
  display: flex;
  width: 100vw;
  /* height: 40vh; */
  justify-content: flex-start;
  padding: 80px

  }

  .projectPreviews {

  }

  .previewBox {
    background-color: red;
    display: flex;
    max-height: 12vw;
    max-width: 12vw;
    min-height: 12vw;
    min-width: 12vw;
    flex-wrap: wrap;
    padding: 20px;
    margin: 7px;
    border: 1px solid black;
    /* word-wrap: break-word */
  }

  .previewBox:hover {
    transform: translateX(5px);
    transition-timing-function: ease-in-out;
    transition-duration: .25s;
  }

  .projectDisplayBox {
    height: 75vh;
    width: 65vw;
    background-color: white;
    margin-left: 40px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
  }

  .projectText {
    width: 20vw

  }
  .projectElements {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around

  }

  .projectImg {
    width: 30vw;
    margin-top: 20px;
    margin-bottom: 15px;
    border: 1px solid black;

  }

  .linkPhotoBox {
    text-align: center
  }

  .logo {
    height: 75px;
    width: 75px
  }





