body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman';
  font-weight: 100;
  display: flex;
  background-repeat: no-repeat;
  background-color: #FEFFF2;
  background-size: 100vw;
  height: 100vh

}

/* .App {
  display: flex;
  align-items: center;
} */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 32%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


.regularTextRed {
  color:#EF4907;
  font-size: 15;
  font-family: Helvetica;
  line-height: 1.5;
  letter-spacing: 1px;
  margin: 4px;
  text-align: center;
}

.regularTextBlack {
  color:black;
  font-size: 15;
  font-family: Helvetica;
  line-height: 1.5;
  letter-spacing: 1px;
  margin: 4px;


}

.regularTextBlackLeft {
  color:black;
  font-size: 15;
  font-family: Helvetica;
  line-height: 1.5;
  letter-spacing: 1px;
  margin: 4px;
  text-align: left;

}

.regularTextBlackTimes {
  color:black;
  font-size: 15;
  font-family: Times New Roman;
  line-height: 1.5;
  letter-spacing: 1px;
  margin: 4px;
  text-align: left;

}

.contentHeadersRed {
  color:#EF4907;
  font-size: 1.2em;
  margin: 0;
  position: absolute;
  z-index: 5;
}

.contentHeadersBlack {
  font-size: 2em;
  margin: 0;
  position: absolute;
  z-index: 5;
}



